* {
  font-family: Arial, Helvetica, sans-serif;
}
/*top-bar*/

.top-bar {
  text-align: right;
  padding: 10px 50px;
  background-color: #ed808f;
  color: white;
}

.top-bar a {
  color: #fff;
  text-decoration: none;
}
.top-bar a:hover {
  cursor: pointer;
  color: #ffcccc;
}

/* background */
.fixed-bg {
  position: relative;
  min-height: 80vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.fixed-bg-content {
  position: relative;
  display: block;
  top: 160px;
  left: 0px;
  color: #fff;
  text-align: center;
}

.fixed-bg .fixed-bg-content h1 {
  position: relative;
  display: block;
  padding: 10px;
  font-size: 5rem;
  text-shadow: 2px 2px 4px #808080, -2px -2px 3px #808080;
}

.fixed-bg-content p {
  position: relative;
  display: block;
  font-size: 2rem;
  text-shadow: 2px 2px 3px #808080;
}

@media screen and (max-width: 767px) {
  .fixed-bg-content {
    top: 100px;
  }

  .fixed-bg .fixed-bg-content h1 {
    font-size: 2.2em;
  }
  .fixed-bg-content p {
    font-size: 1.2em;
    padding: 0.5em;
  }
}

/* button for top */
.btn-top {
  background-color: #33cc99;
  position: relative;
  display: block;
  width: 160px;
  padding: 0.8em;
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 4px;
  margin: 0 auto;
}

.btn-top:hover {
  background-color: #fff;
  color: black;
  border-color: #33cc99;
  transition-duration: 0.4s;
}

/* bg-image */
.bg01 {
  background-image: url(img/machine2.jpg);
}

.bg02 {
  background-image: url(img/printer.png);
}

/* fadein effect */

.fadein {
  opacity: 0.1;
  transform: translate(0, 40px);
  transition: all 800ms;
}

/* after fadein */
.fadein.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}

/* Why us */
.my-yellow {
  color: #fedc9c;
}

.my-green {
  color: #8dbf41;
}
.my-purple {
  color: #3a274c;
}

/* About */

.column {
  display: flex;
  justify-content: space-between;
}
.column-img {
  width: 40%;
}
.column-img img {
  width: 100%;
  padding-bottom: 10px;
}
.column-text {
  box-sizing: border-box;
  padding: 0 30px;
  width: 60%;
}
.column-text-title {
  margin: 0;
  font-size: 32px;
}
.column-text-p {
  margin: 0;
  padding-top: 20px;
  font-size: 22px;
  line-height: 1.4;
}
.column-text-link {
  padding-top: 30px;
}
.column-text-link a {
  border: 1px solid #000;
  padding-top: 12px;
  padding-right: 40px;
  padding-bottom: 12px;
  padding-left: 40px;
  font-size: 20px;
  text-decoration: none;
  color: #000;
}

.vline {
  border-left: thick solid #ed808f;
  padding-left: 10px;
}

/* responsive */

@media screen and (max-width: 767px) {
  .column {
    flex-direction: column;
  }
  .column-reserve {
    flex-direction: column-reverse;
  }
  .column-img {
    width: 100%;
  }
  .column-text {
    width: 100%;
  }
  .column-text-title {
    font-size: 26px;
  }
  .column-text-p {
    font-size: 16px;
  }
  .column-text-link a {
    font-size: 16px;
  }
}

/* Gallery */

.fl-container {
  display: grid;
  gap: 10px;
  grid-template-columns: 2.17fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr;
}

.item1 {
  grid-row: 1/3;
}

img {
  width: 100%;
  background-size: cover;
}

.item {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
  border-radius: 0.5rem;
  margin: 1em 0;
}

.item img p {
  width: 100%;
  transition-duration: 0.5s;
}

.item:hover img {
  transform: scale(1.2);
  transition-duration: 0.5s;
}

.item p {
  position: absolute;
  color: white;
  font-size: 1rem;
  text-align: center;
  text-shadow: 3px 3px 3px #444;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .fl-container {
    display: grid;
    grid-template-rows: 1fr minmax(300px, auto);
    grid-template-columns: 1fr; /* 1列 */
  }
  .item1 {
    grid-column: auto;
  }
  .item img {
    width: 100%;
  }
  .item p {
    font-size: 20px;
  }
}

/* button */

.btn-form {
  /* display: inline-block; */
  width: 140px;
  padding: 0.7rem;
  text-decoration: none;
  color: #fff;
  background-color: #33cc99;
  border-radius: 4px;
}
.btn-form:hover {
  background-color: #fff;
  color: black;
  border-color: #33cc99;
  transition-duration: 0.4s;
}

/*contact form*/

#contact {
  color: white;
  padding: 3em 2em 3em 2em;
}

.contact-form {
  max-width: 700px;
  height: auto;
  padding: 2em 4em;
  border: 3px solid white;
}
/* footer */
.footer a {
  color: white;
  text-decoration: none;
  color: #ffcccc;
}

.footer a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #ed808f;
}

.sns {
  float: right;
}

/* upload page */

.btn-submit {
  background-color: #fff;
  color: black;
  border-color: #33cc99;
  border-width: 2px;
}

.btn-add,
.btn-checkout,
.btn-login {
  background-color: #33cc99;
  color: #fff;
  border-width: 2px;
}
.btn-add:hover {
  background-color: #fff;
  color: black;
  border-color: #33cc99;
  transition-duration: 0.4s;
}
.btn-checkout:hover {
  background-color: #fff;
  color: black;
  border-color: #33cc99;
  transition-duration: 0.4s;
}
.bold {
  font-weight: bold;
}
.grey {
  color: grey;
}
.btn-link {
  color: #f8f8f8;
  font-weight: bold;
}
.card-header {
  background-color: #12264d;
}
.card {
  background-color: #f8f8f8;
}

/* modal */

.modal-content {
  background-color: #f8f8f8;
}
.btn-login:hover {
  background-color: #fff;
  color: black;
  border-color: #33cc99;
  transition-duration: 0.4s;
}

/* upload image */

.bg-img {
  position: relative;
}
.bg-text {
  position: absolute;
  top: 35%;
  left: 10%;
  color: #12264d;
}

.bg-img img {
  width: 100%;
}
.text h4 {
  text-align: center;
  padding: 1.5em;
  line-height: 1.5em;
}
.text h4 span {
  font-weight: bold;
  color: #43577e;
  text-decoration: underline;
}
.text h4 a span:hover {
  color: #12264d;
}

@media screen and (max-width: 767px) {
  .bg-text h1 {
    font-size: 1.6em;
  }
  .bg-text h4 {
    display: none;
  }
  .text h4 {
    font-size: 1.2em;
  }
}

/* upload payment option */

.box {
  background-color: #fff;
  padding: 2em;
  margin: 2em 0;
  border: double 5px #33cc99;
}
.box p {
  margin: 0;
  padding-right: 10em;
}

/* help documentation */

.help-img {
  max-width: 90%;
  margin: auto;
}

.fadeIn {
  opacity: 0;
  transition: 2s;
}
.fadeIn.is-show {
  opacity: 1;
}
